
body {
  margin: 0;
  padding: 0;
  background-color: #121212; 
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
}


.nav-container {
  background-color: #1e1e1e; 
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  background-color: transparent; 
}


.navbar a,
.navbar select {
  background-color: #2a2a2a; 
  color: #e0e0e0;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar a:hover,
.navbar select:hover {
  background-color: #3a3a3a; 
}


.navbar select {
  color: #e0e0e0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  margin-top: 20px;
}


.array {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 90%;
}


.array div {
  background-color: #03dac6; 
  margin: 0 2px;
  width: 5px;
}


.footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 1rem;
  font-size: 0.9rem;
  color: #aaaaaa;
}


.icon {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    display: block;
  }
}
